body {
	margin: auto;
	width: 90%;
}

nav ul {
	display: flex;
	padding: 0px;
}

nav ul li {
	display: inline;
	flex-grow: 1;
	list-style-type: none;
	text-align: center;
}

section {
	margin-bottom: 1em;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 4px;
}

td {
	text-align: center;
}

td.right {
	text-align: right;
}

.spoiler {
	transition: background-color 0.1s, color 0.1s;
}

.spoiler:not(:hover) {
	background-color: gray;
	color: gray;
	transition: background-color 0.1s, color 0.1s;
}
