body {
	margin: auto;
	width: 90%;
}

nav {
	font-size: small;
}

nav ul {
	display: flex;
	padding: 0px;
}

nav ul li {
	background-color: black;
	display: inline;
	flex-grow: 1;
	list-style-type: none;
	text-align: center;
	transition: background-color 0.2s;
}

nav ul li:hover {
	background-color: gray;
}

nav ul li a {
	color: white;
	display: block;
	text-decoration: none;
}

section {
	margin-bottom: 1em;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 4px;
}

td {
	text-align: center;
}

td.left {
	text-align: left;
}

td.right {
	text-align: right;
}

.hidden-cell {
	border: 0px;
}

.spoiler {
	transition: background-color 0.1s, color 0.1s;
}

.spoiler:not(:hover) {
	background-color: gray;
	color: gray;
	transition: background-color 0.1s, color 0.1s;
}

tr {
	transition: 0.2s;
}

.row-complete {
	background-color: green;
}
